{% extends "base.html" %}
{% block content %}

    <!-- sidebar -->
    <aside class="sidebar" id="sidebar">
      <div>
        <button id="close-btn" class="close-btn">
          <i class="fas fa-times"></i>
        </button>
        <ul class="sidebar-links">
          <li><a href="index.html">home</a></li>
          <li><a href="about.html">about</a></li>
          <li><a href="projects.html">projects</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
        <ul class="social-icons">
          <!-- single item -->
          <li>
            <a href="https://www.twitter.com" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <!-- end of single item -->
          <!-- single item -->
          <li>
            <a href="https://www.twitter.com" class="social-icon">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <!-- end of single item -->
          <!-- single item -->
          <li>
            <a href="https://www.twitter.com" class="social-icon">
              <i class="fab fa-squarespace"></i>
            </a>
          </li>
          <!-- end of single item -->
          <!-- single item -->
          <li>
            <a href="https://www.twitter.com" class="social-icon">
              <i class="fab fa-behance"></i>
            </a>
          </li>
          <!-- end of single item -->
          <!-- single item -->
          <li>
            <a href="https://www.twitter.com" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <!-- end of single item -->
        </ul>
      </div>
    </aside>
    <!-- end of sidebar -->

    <!-- ############## -->
    <!-- ############## -->
    <!-- ############## -->
    <!-- ############## -->

    <section class="section single-page">
      <!-- section title -->
      <div class="section-title">
        <h1>contact</h1>
        <div class="underline"></div>
      </div>
      <!--end of section title -->
      <div class="section-center page-info">
        <!-- contact page-->
        <p>
          If you are looking to get ahold of me, you can send me an email at
          <a href="mailto:email@email.com">@your_email</a>
        </p>
        <p>
          You can also reach me on Twitter at
          <a href="https://www.twitter.com">@your_social_media </a>
        </p>
      </div>
    </section>
    <!-- ############## -->
    <!-- ############## -->
    <!-- ############## -->
    <!-- ############## -->
    {% endblock %}

