{% extends "admin/base.html" %} {% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="mb-5" action="/admin/feedbacks" method="POST" enctype="multipart/form-data">
                        <h2>Add feedback</h2>
                        <hr>
                        <div class="mb-3">
                          <input type="text" class="form-control" name="full_name" placeholder="Full Name..">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="feedback" placeholder="FeedBack..">
                          </div>
                        <div class="mb-3">
                          <input type="file" class="form-control btn btn-warning" name="person_img">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                      </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">FeedBacks Table</h4>
                        <h6 class="card-subtitle">Add feedback <code>.table</code></h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Full Name</th>
                                        <th>FeedBack</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for feed in fb %}
                                    <tr>
                                        <td>{{feed.id}}</td>
                                        <td>{{feed.full_name}}</td>
                                        <td>{{feed.feedback}}</td>
                                        <td><a href="/feedbacksUpdate/{{feed.id}}"><i class="fas fa-pencil-alt"></i></a></td>
                                        <td><a href="/feedbacksDelete/{{feed.id}}"><i class="bi bi-trash-fill"></i></a></td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
{% endblock %}