{% extends "admin/base.html" %} {% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="mb-5" action="/adminhome/works/update/{{works.id}}" method="POST">
                        <h2>Update skill</h2>
                        <hr>
                        <div class="mb-3">
                          
                          <input type="text" class="form-control" name="work_title" value="{{works.work_title}}" placeholder="Work title..">
                          
                        </div>
                        <div class="mb-3">
                          
                            <input type="text" class="form-control" name="work_client_name" value="{{works.work_client_name}}" placeholder="Client name..">
                            
                          </div>
                          <div class="mb-3">
                          
                            <input type="text" class="form-control" name="work_url" value="{{works.work_url}}" placeholder="Work url..">
                            
                          </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                      </form>
                      
                </div>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
{% endblock %}